@mixin font($fw: 500, $fs: 14, $lh: 1.36, $ls: 0.02) {
  font-size: $fs + px;
  letter-spacing: $ls + em;
  line-height: $lh;
  font-weight: $fw;
}

@mixin mobile {
  @media screen and(min-width: 480px) {
    @content;
  }
}

@mixin tablet {
  @media screen and(min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media screen and(min-width: 1200px) {
    @content;
  }
}
