.about > .container {
  display: flex;
  gap: 30px;
}

.pic-list {
  display: flex;
  gap: 30px;
}

.about__content {
  max-width: 470px;
}

.about__pre-title {
  margin-bottom: var(--typical-margin);
}

.about__title {
  color: var(--second-title-color);
  margin-bottom: var(--typical-margin);
}

.about__after-title {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #555555;
  margin-bottom: var(--typical-margin);
}

.about__text {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: #555555;
  margin-bottom: 42px;
}
