.hero__container {
  display: flex;
  padding: 0;
  @include mobile {
    width: 100%;
  }
  @include tablet {
    width: 720px;
    padding-left: 15px;
    padding-right: 15px;
  }
  @include desktop {
    width: 1200px;
  }
}

.soc {
  display: none;
  @include tablet {
    display: flex;
    width: 100px;
    align-items: flex-end;
    padding-left: 27px;
    padding-bottom: 40px;
  }
}

.soc__list {
  @include tablet {
    display: flex;
    transform: rotate(-90deg) translateY(100%);
    transform-origin: bottom left;
    align-items: center;
    gap: 40px;
    &::before {
      content: '';
      width: 60px;
      height: 1px;
      background-color: #303030;
    }
  }
}

.soc__link {
  @include tablet {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color: #303030;
  }
}

.hero__content {
  padding: 208px 31px 208px 31px;
  // padding: 272px 100px 208px 100px;
  background-color: #8c8888;
  flex-grow: 1;
  background-image: var(--bg-gradient), url(../img/hero-bg-mob.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  @media retina {
    background-image: var(--bg-gradient), url(../img/hero-bg-mob-2x.jpeg);
  }
  @include tablet {
    padding: 272px 31px 237px 119px;
    background-image: var(--bg-gradient), url(../img/hero-bg-tab.jpeg);
    @media retina {
      background-image: var(--bg-gradient), url(../img/hero-bg-tab-2x.jpeg);
    }
  }
  @include desktop {
    padding: 272px 100px 208px 100px;
    background-image: var(--bg-gradient), url(../img/hero-bg.jpeg);
    @media retina {
      background-image: var(--bg-gradient), url(../img/hero-bg-2x.jpeg);
    }
  }
}

.hero__pre-title {
  margin-bottom: var(--typical-margin);
}

.hero__title {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  // font-size: 72px;
  // line-height: 1.18;
  font-size: 42px;
  line-height: calc(56 / 48);
  letter-spacing: 0.05em;
  color: var(--first-title-color);
  margin-bottom: var(--typical-margin);
  display: flex;
  align-items: baseline;
  @include mobile {
    font-size: 48px;
  }
  @include desktop {
    font-size: 72px;
    line-height: 1.18;
  }
  // &::before {
  //   content: '';
  //   width: 40px;
  //   height: 40px;
  //   background-color: coral;
  // }

  // &::after {
  //   content: '!';
  //   color: green;
  // }
}

.hero__after-title {
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.02em;
  color: #9da4bd;
  max-width: 336px;
  @include tablet {
    font-size: 18px;
    line-height: 1.67;
    max-width: 360px;
  }
}
